body{
    text-align : center;
}

h1{
    border-top : solid;
    border-left : solid;
    border-right : solid;
}
#uwu{
    border-bottom : solid;
    border-left : solid;
    border-right : solid; 
}